@model IEnumerable<Game>

<div class="text-center">
    @if (!Model.Any())
    {
        
        <div class="text-center">
            <p class="display-4" style="color: gray; font-size: 2.5rem;">No games yet! Please open the app, create one on your phone! And invite your friends to join ..</p>
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <tr>
                @* ToDo :: Modify later to change the flag position and holder *@
                <th>#</th>
                <th>Short Id</th>
                <th>Host</th>
                <th>Start X</th>
                <th>Start Y</th>
                <th>Flag X</th>
                <th>Flag Y</th>
                <th>Flag Holder</th>
                <th>Status</th>
                <th>Password</th>
                <th>Players</th>
                <th>Live Data</th>
                <th>Delete</th>
            </tr>
            </thead>
            @{ var i = 1;}
            @foreach (var game in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@game.Id.Split("-")[0]</td>
                    <td>@game.HostName</td>
                    <td>@game.StartX</td>
                    <td>@game.StartY</td>
                    <td>@game.FlagX</td>
                    <td>@game.FlagY</td>
                    <td>@game.FlagHolder</td>
                    <td>@if(game.Ended){<span>Ended</span>}else{<span>In Progress</span>}</td>
                    <td>@game.Password</td>
                    <td><button class="btn btn-info" onclick="location.href = '@Url.Action("Players", "Home", new{gameId = game.Id})'">Players</button></td>
                    <td><button class="btn btn-dark" onclick="location.href = '@Url.Action("PlayerData", "Home", new{gameId = game.Id})'">Live Data</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                i++;
            }
            
        </table>
    }
</div>